home/.ssh/id_rsa*
home/.ssh/known_hosts
home/.bash_history

tmux/.config/tmux/plugins
!tmux/.config/tmux/plugins/tpm

zsh/.config/zsh/.zcompdump*
zsh/.config/zsh/.zsh_sessions

karabiner/.config/karabiner/assets
karabiner/.config/karabiner/automatic_backups

# Include VSCode config
!home/.vscode
