[submodule "tmux-plugin-manager"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git

[submodule "nord-dircolors"]
	path = dircolors/.config/dircolors/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git

[submodule "nord-kitty"]
	path = kitty/.config/kitty/nord-kitty
	url = https://github.com/connorholyday/nord-kitty.git

[submodule "vim-plug"]
	path = nvim/.config/nvim/vim-plug
	url = https://github.com/junegunn/vim-plug.git

