[submodule "nord-kitty"]
	path = kitty/.config/kitty/nord-kitty
	url = https://github.com/connorholyday/nord-kitty.git

[submodule "dircolors/.config/dircolors"]
	path = dircolors/.config/dircolors
	url = https://github.com/nordtheme/tmux

[submodule "tmux-plugin-manager"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git

[submodule "bin/.local/bin/yubitouch"]
	path = bin/.local/bin/yubitouch
	url = https://github.com/a-dma/yubitouch

[submodule "alacritty/.config/alacritty/alacritty-theme"]
	path = alacritty/.config/alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
